<!DOCTYPE html>
<html>
<head>
	<title>TTC Apps</title>
	<link rel="stylesheet" type="text/css" href="./assets/style/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/style/style.css">
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#"><img width="64px" src="./assets/images/logo.png"> Apps</a>
</nav>
<div class="container my-5" id="applications">
	<div class="d-flex justify-content-center">
		<div class="apps_tab btn-group btn-group-lg mb-5 mx-auto" role="group" aria-label="Basic example">
			<button type="button"
					class="btn"
					v-for="tab in tabs"
					@click="selectedTab = tab.id"
					:class="selectedTab === tab.id ? 'btn-success' : 'btn-outline-success'"
			 >{{ tab.label }}</button>
		</div>
	</div>
	<div class="row" v-if="selectedTab === 'services'">
		<div class="col-md-3">
			<a href="#" target="_blank" class="app_item">
				<img class="app_logo" src="https://upload.wikimedia.org/wikipedia/commons/1/19/WhatsApp_logo-color-vertical.svg">
				<h3 class="heading-m">Whatsapp</h3>
				<p class="label hint">Какое то описание продукта или приложения на 3-4 строки максимум</p>
			</a>
		</div>
		<div class="col-md-3">
			<a href="#" target="_blank" class="app_item">
				<img class="app_logo" src="./assets/logos/vk.jpg">
				<h3 class="heading-m">VK</h3>
				<p class="label hint">Какое то описание продукта или приложения на 3-4 строки максимум</p>
			</a>
		</div>
		<div class="col-md-3">
			<a href="#" target="_blank" class="app_item">
				<img class="app_logo" src="https://upload.wikimedia.org/wikipedia/commons/1/19/WhatsApp_logo-color-vertical.svg">
				<h3 class="heading-m">Whatsapp</h3>
				<p class="label hint">Какое то описание продукта или приложения на 3-4 строки максимум</p>
			</a>
		</div>
		<div class="col-md-3">
			<a href="#" target="_blank" class="app_item">
				<img class="app_logo" src="https://upload.wikimedia.org/wikipedia/commons/1/19/WhatsApp_logo-color-vertical.svg">
				<h3 class="heading-m">Whatsapp</h3>
				<p class="label hint">Какое то описание продукта или приложения на 3-4 строки максимум</p>
			</a>
		</div>
		<div class="col-md-3">
			<a href="#" target="_blank" class="app_item">
				<img class="app_logo" src="https://upload.wikimedia.org/wikipedia/commons/1/19/WhatsApp_logo-color-vertical.svg">
				<h3 class="heading-m">Whatsapp</h3>
				<p class="label hint">Какое то описание продукта или приложения на 3-4 строки максимум</p>
			</a>
		</div>
	</div>
	<div class="row" v-if="selectedTab === 'instruments'">
		<div class="col-md-3">
			<a href="#" target="_blank" class="app_item">
				<img class="app_logo" src="./assets/logos/vk.jpg">
				<h3 class="heading-m">VK</h3>
				<p class="label hint">Какое то описание продукта или приложения на 3-4 строки максимум</p>
			</a>
		</div>
		<div class="col-md-3">
			<a href="#" target="_blank" class="app_item">
				<img class="app_logo" src="https://upload.wikimedia.org/wikipedia/commons/1/19/WhatsApp_logo-color-vertical.svg">
				<h3 class="heading-m">Whatsapp</h3>
				<p class="label hint">Какое то описание продукта или приложения на 3-4 строки максимум</p>
			</a>
		</div>
		<div class="col-md-3">
			<a href="#" target="_blank" class="app_item">
				<img class="app_logo" src="https://upload.wikimedia.org/wikipedia/commons/1/19/WhatsApp_logo-color-vertical.svg">
				<h3 class="heading-m">Whatsapp</h3>
				<p class="label hint">Какое то описание продукта или приложения на 3-4 строки максимум</p>
			</a>
		</div>
		<div class="col-md-3">
			<a href="#" target="_blank" class="app_item">
				<img class="app_logo" src="https://upload.wikimedia.org/wikipedia/commons/1/19/WhatsApp_logo-color-vertical.svg">
				<h3 class="heading-m">Whatsapp</h3>
				<p class="label hint">Какое то описание продукта или приложения на 3-4 строки максимум</p>
			</a>
		</div>
	</div>
</div>

<script type="text/javascript" src="./assets/js/vue.min.js"></script>
<script type="text/javascript" src="./assets/js/script.js"></script>	
</body>
</html>