.app_item {
	text-align: center;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 24px;
	border-radius: 8px;
	box-sizing: content-box;
	display: block;
	text-decoration-color: transparent;
}
.app_item:hover {
	text-decoration: none;	
}
.app_item:hover .app_logo {
	transform: scale(1.2);
	transition: .15s ease-in-out;
}
.app_item .app_logo {
	width: 100px;
	height: 100px;
	object-fit: cover;
	display: block;
	margin: 0 auto 20px;
	transition: .3s ease-in-out;
	border-radius: 12px;
}
.heading-m {
	font-size: 24px;
	color: #1A251E;
	margin: 12px 0;
}
.label {
	font-size: 16px;
	line-height: 1.2;
}
.hint {
	color: #929292;
}
.apps_tab {
	width: 400px;
}
.apps_tab .btn {
	width: 50%;
	box-shadow: none;
}